parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$rrule of class Recurr\\\\Rule constructor expects string\\|null, array\\<string, mixed\\>\\|string given\\.$#"
			count: 1
			path: src/RRule.php
