name: PHP Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  lint:
    name: Static analysis for PHP ${{ matrix.php }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        php: [ '8.2', '8.3', '8.4' ]
        os: [ 'ubuntu-latest' ]

    steps:
      - name: Checkout code base
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: phpcs
          extensions: ev

      - name: Setup dependencies
        run: composer require -n --no-progress overtrue/phplint

      - name: PHP Lint
        if: ${{ ! cancelled() }}
        run: ./vendor/bin/phplint -n --exclude={^vendor/.*} -- .

      - name: PHP CodeSniffer
        if: ${{ ! cancelled() }}
        run: phpcs -wps --colors

  test:
    name: Unit tests with PHP ${{ matrix.php }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    env:
      PHPUNIT_VERSION: 8.5

    strategy:
      fail-fast: false
      matrix:
        php: [ '8.2', '8.3', '8.4' ]
        os: [ 'ubuntu-latest' ]

    steps:
      - name: Checkout code base
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: phpunit:${{ env.PHPUNIT_VERSION }}
          extensions: ev

      - name: Setup dependencies
        run: composer install -n --no-progress

      - name: PHPUnit
        run: phpunit --verbose
